.wrapper {
  display: grid;
  grid-template-columns: 1fr minmax(400px,1fr);
  min-height: 100vh;
}

.wrapper__inf {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 64px minmax(550px, auto);
  grid-template-rows: 100px 2fr 200px;
  grid-template-areas: 
  'b h'
  'b c'
  'b f';
}

