@use '../style/color.scss';
@use '../style/button.scss';
@use '../style/text.scss';

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  min-height: 100%;
}

.wrapper__inf {
  display: grid;
  grid-template-columns: 64px auto;
  grid-template-rows: auto;
}

.wrapper__slider {
  border: 2px solid darkblue;
}
