@use '../../style/color.scss';
@use '../../style/button.scss';
@use '../../style/text.scss';

.main {
    padding: 64px;
    grid-area: c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  
    h1 {
      @include text.text_title(70px, 66px, color.$main_black);
      margin-top: 35px;
      margin-bottom: 10px;
    }
  
    h2 {
      @include text.text_title(70px, 66px, color.$main_accent);
    }
  
    h4 {
      @include text.text_title(26px, 30px, color.$grey_dark, $fw: 300);
      margin-top: 36px;
    }
  
    button {
      @include button.btn_default_color;
      @include text.text_title(18px, 21px, white, $fw: 300);
      @include button.create_btn(250px, 48px);
      margin-top: 10%;
    }
  }
  